spring:
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8858
        namespace: 650fd323-0bc6-47ac-9594-25d07e490550
    sentinel:
      transport:
        dashboard: 127.0.0.1:8718
  zipkin:
    base-url: http://localhost:9411
  data:
    elasticsearch:
      cluster-nodes: 127.0.0.1:9300
      cluster-name: elasticsearch
  redis:
    host: 192.168.63.130
    port: 6379
    database: 0
    password:
#    sentinel:
#      master:
#      nodes:
  flyway:
    baseline-on-migrate: true
    enabled: false
  shardingsphere:
    # 数据源配置,可配置多个
    dataSource:
      names: master,slave
      common:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
      # 数据库读写分离-读数据源
      slave:
        url: jdbc:mysql://192.168.63.130:3306/membercenter?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8
        username: root
        password: root
      # 数据库读写分离-写数据源
      master:
        url: jdbc:mysql://192.168.63.130:3306/membercenter?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8
        username: root
        password: root
    rules:
      replica-query:
        data-sources:
          readwrite:
            name: readwrite # 读写分离逻辑数据源名称
            primary-data-source-name: master
            replica-data-source-names: slave
            load-balancer-name: round_robin
        load-balancers:
          round-robin:
            props:
              default: 0 # 必须得有一个属性
            type: ROUND_ROBIN



    props:
      sql.show: true

build-in:
  sys:
    manager:
      list:
        - username: 18913854513
        - username: 18738365526

yun-zhang-hu:
  # 商户ID
  dealer-id: '24420109'
  # 综合服务主体ID
  broker-id: '27532644'
  # APP Key
  app-key: L81EU8xJ0G6AWoVu9Vw99vjt2KehCxxx
  # 3DES Key
  three-des-key: 63KAw05v0fdu7E1ZA75Y6crQ
  # 商户私钥,加签用
  private-key-pem: XXXEwAIBADANBgkqhkiG9w0BAQEFAASCBKowggSmAgEAAoIBAQCo5gaYm8Tg3yFp/61zkmwSiG9Wcj+s7+1JZIMxGBvDJnGFyGV7xPc0fEPVoOvv+IZn39Pt/6LfJ5Cjm5Axfpz1YCyxDNc+OB7dXfLANXjFyiWoWOIsKnpzU1vM0Q8lOKYrp7D/QnSFRDJDaw8J7RffQLUByvrI2UM+t42L841aVpvJWdrjBlilepXkrGKxtMlVaQNgq+1SK5XsoebFkr5h3jCXTQoTTventZAJLCkPYNtmzYMCbRtqGTE0s81f0LvXomy/E/z/ArIpkm9kDqYv07JEuOjjzeSKqXZmpO8vBARRBoEtXRxv25xx59vdDj+Wwf0XFaM0Sn3OA4BLlYKhAgMBAAECggEBAI6OuPqOX7q+GuHxIGHwMK/j4LXCcORzDoFoCSOjCavKAv+8iYvSUCVIzai+zuYZiriaP7MelkZsirTNVQOxrqGdr5sxD2xAyixmY8LAX1Pyr55Mh3pn0DsPHOjffD0ad4dZXxfU66ygRxyIfIUQTZnub9k3jj2AxDVnkF2UELcyC4ko81TXSqvcPXDPPfrs7XyRgvMyIEOgbE4wKPDRLEzkmKN2rZ5QhA+BgUzBj04vn761jDRREn6Ec6OHj8cpJ5xtqBD3z9EtG7wsDvVeDJZw6H7FpFucu9ZDuhPc/kULbqcxRY5427xnfIbg2zpijrgP3haQ2rxa5rTT3j4ys5ECgYEA2tbKRJAc7oVODxB5dopeHkqV2ShE9NDl4l4xOteeCseUO3lzo8R1S0OheGVDBv+0iawHb4Wm3i/U2EkigZ7iBdVLCDfigHKqs16g0kuxHF6nsTmL6d0MgeKbdibhOV9n/sy8cf5BZKAzg4pCVVFxJ7nZqjcYmG75CzTHNHZ0opsCgYEAxZRCaL1OO3FactART4Pdng7+ogaLfz6SLI5dKgcMUUbe10s00xQx6IRpUSogbXYHqoncCUKfcaLwDZPATPZ7nDJDOyRb968tv0EWU516r3fFeNXL2aUsrrUpv6UMBqlDexw3VyQCLhPNYDOTX826x/QqN0M3elX/vaWSLUdJVXMCgYEAzY5J6gMQGf+/JalM3kr0QzG99X+83dTGyk29ok7cFbYIB6F6PM8RegPpzQQY5J8VfufHCDsbVcLKA+sWbXjHR8FkvDB6IjsTGm79UutkToierXqncKGA2RP5AQ9eKRzzu0OmktDHrfRIzvr0ed2JE06gJSGhibVbWupVX3MQ9ZcCgYEAtaDDI7HStwZPFXh8UVJxahlyrtPBbOnCSj9dGYN9KUIzHEtAdkH8VzlR75EAWl/EUFuG8ORT2ozkjDak8psrqrzx3O5htOFO9qAIvDjqTV+XIqu3R4518u0LQeehlIYJSKT5opuxfVYq2CLReaKP77xfCoo597YS8O3B4OnFWk0CgYEAoPmTfTDlbvcRCVsXKGeMyt2D98rhqPEZhHy9jCbalHOxlL/7PK5O+onKL7DRRiP7mAiiLc5cdhFJYM8lRbfy82Hloi8XvKajmeL4ROKHngDtRSxCWDZaoUwB540ywUlaaOwVDI81Yev5BbK+KdKtWYLgbe1K9IrhcizkoizBNSE=
  # 云账户公钥,验签用
  public-key-pem: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCdkrmRr3trl/ZwQG82dyfdcJARw7GIbdzytZeodHUndvgWKdeoUbiwfm0UHyPp3w8KwyBg9arzxFVufHcxKzI2jOz6DljI9Y7GlC0Lb7mcgIDWbFTPxAPK7rtpAwZOdchFKqbetR9eUQmhqc+2VjxE84bhuiLEqC1KfplGoOqyOwIDAQAB
  # API
  payment-api:
    order-notify-url: https://1z5z037435.51mypc.cn/clsapi/market/etc/app/withdraw/notify
wechat:
  appId: wx4965445e7f614xxx
  secret: 24921c97f96cd05adf3f73ad6dd5cxxx
